@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

*, html {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
    background: #160821;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 100px;
}

#rodape {
    background-color: #160821;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
    padding: 20px 30px;
}

#logo {
    width: 100%;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

#logo-tinf {
    width: 25%;
    object-fit: cover;
    object-position: center;
}

.navbar{
    color: white;
    text-decoration: none;
}

.voltar-topo {
    margin-top: 1px;
    text-decoration: underline;
}

.divisao-espaco {
    margin: 50px 0px;
}
.linha-vertical { /*REVISAR*/
    text-align: center;
    height: 500px;
    border-left: 1px solid rgb(179, 179, 179);
}



/* Alinhamento e Formatação */
.direita {
    text-align: right;
}
.esquerda {
    text-align: left;
}
.centralizado {
    text-align: center;
}
.justificado {
    text-align: justify;
}
.texto-branco {
    text-decoration: none;
    color: white;
}
.texto-preto {
    text-decoration: none;
    color: black;
}
.texto-1 {
    font-size: xx-large;
}



/* Links */
.link-branco {
    color: white;
    text-decoration: none;
}
.link-preto {
    color: black;
    text-decoration: none;
}
.link-branco:hover, .link-preto:hover {
    color: #7d42aa;
    text-decoration: none;
}




/* Botões */
.botao-primario {
    border-radius: 50px;
    background-color: #FF6E01;
    border-style: none;
    border-radius: 50px;
    margin: 5px;
    padding: 5px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.botao-secundario {
    border-radius: 50px;
    background-color: #7d42aa;
    border-style: none;
    border-radius: 50px;
    margin: 5px;
    padding: 5px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.botao-branco {
    border-radius: 50px;
    background-color: white;
    border-style: none;
    border-radius: 50px;
    margin: 5px;
    padding: 5px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.botao-preto {
    border-radius: 50px;
    background-color: black;
    border-style: none;
    border-radius: 50px;
    margin: 5px;
    padding: 5px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#botao-dropdown-branco {
    border-style: none;
    text-decoration: none;
    background-color: transparent;
    color: white;
}
#botao-dropdown-preto {
    border-style: none;
    text-decoration: none;
    background-color: transparent;
    color: black;
}
#botao-dropdown-branco:hover, #botao-dropdown-preto:hover {
    color: #7d42aa;
    text-decoration: none;
}
.botao-google {
    background-color: white;
    color: black;
    border-top: 4px solid #DC4339;
    border-right: 4px solid #4385F3;
    border-bottom: 4px solid #109C5D;
    border-left: 4px solid #F2B401;
    border-radius: 50px;
    width: 200px;
    margin: 10px 20px;
    box-shadow: 0 10px 10px -15px rgba(0, 0, 0, 0.3);
}
.botao-facebook {
    color: white;
    background-color: #3B5998;
    border: 4px solid #3B5998;
    border-radius: 50px;
    width: 200px;
    margin: 10px 20px;
    box-shadow: 0 10px 10px -15px rgba(0, 0, 0, 0.3);
}