#form-banner {
    background: linear-gradient(239.19deg, #AA65EB 0%, #9142AA 100%);
    padding: 50px;
    color: white;
    box-shadow: 0 30px 30px -15px rgba(0, 0, 0, 0.3);
}
#form-descricao {
    resize: vertical;
    max-height: 90px;
    min-height: 60px;
}